@{
    ViewBag.Title = CreditCalcOutConfig.Title;
    ViewBag.IconPage = CreditCalcOutConfig.IconPage;
}

@{
    if (ViewBag.Cur == "rub")
    {
        ViewBag.CorOut = "Рубли";
    }
    else if (ViewBag.Cur == "eur")
    {
        ViewBag.CorOut = "Евро";
    }
    else if (ViewBag.Cur == "dol")
    {
        ViewBag.CorOut = "Доллар";
    }

}

@{
    if (ViewBag.Tdl == "year")
    {
        ViewBag.Tdl = "Года";
    }
    else if (ViewBag.Tdl == "month")
    {
        ViewBag.Tdl = "Месяца";
    }

}



<div class="container-fluid content-block">

    <div id="oper-main" class="content-info-main-block container">

        <h1>Вывод данных</h1>

    <div class="calc-info-block">
        <h4>Информация о кредите</h4>

        <div class="row calc-info">
            <div class="col-12 col-lg-12 row">
                <span class="col-lg-6">Текущая ставка: @ViewBag.Rate</span>
                <span class="col-lg-6">Начало: @ViewBag.Sdate</span>
            </div>
            <div class="col-12 col-lg-12 row">
                <span class="col-lg-6">Срок кредита: @ViewBag.Ddl  Месяцев</span>
                <span class="col-lg-6">Конец: @ViewBag.Fdate</span>
            </div>
            <div class="col-12 col-lg-12 row">
                <span class="col-lg-6">Сумма кредита: @ViewBag.Sum</span>
                <span class="col-lg-6">Валюта: @ViewBag.CorOut</span>
            </div>
        </div>

    </div>

        <table class="table table-secondary">
            <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Платеж</th>
                <th>Тело займа</th>
                <th>Процент</th>
                <th>Остаток платежа</th>
            </tr>

            
                @{

                    for (int row = 0; row < ViewBag.Table.Rows.Count; ++row)
                    {
                        <tr>
                            <td> @ViewBag.Table.Rows[row][0] </td>
                            <td> @ViewBag.Table.Rows[row][1].ToString("dd / MM / yyyy") </td>
                            <td> @ViewBag.Table.Rows[row][2] </td>
                            <td> @ViewBag.Table.Rows[row][3] </td>
                            <td> @ViewBag.Table.Rows[row][4] </td>
                            <td> @ViewBag.Table.Rows[row][5] </td>
                        </tr>
                    }
                }

            </table>

    </div>
</div>