@model IEnumerable<bas.website.Models.Data.Bank_client_history>

@{
    ViewData["Title"] = "History";
}
<div class="container content-block">

    <h1>История кредитов - @{ @Context.Request.Cookies["UserName"]}  @{@Context.Request.Cookies["UserSurname"]} </h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Clihis_numb)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clihis_client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clihis_percent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clihis_all_sum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clihis_start_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clihis_ddl_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clihis_paid_off)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clihis_paid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clihis_status)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clihis_numb)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bank_client.Client_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clihis_percent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clihis_all_sum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clihis_start_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clihis_ddl_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clihis_paid_off)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clihis_paid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clihis_status)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>